In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import csv

In [15]:
# Clean dataset, take only necessary columns, create new dataframes and save as csv

# File to Load
fastfood_to_load = "datasets/fast-food-restaurants/Datafiniti_Fast_Food_Restaurants.csv"
census_to_load = "datasets/us-census-demographic-data/acs2017_census_tract_data.csv"

# Read the CSV files
fastfood = pd.read_csv(fastfood_to_load)
census = pd.read_csv(census_to_load)

# Create FastFood dataset
ff_id = fastfood['id']
ff_name = fastfood['name']
ff_state = fastfood['province']
dict1 = {'state': ff_state, 'name': ff_name}  
fastfood_df = pd.DataFrame(dict1) 

# Output File (CSV)
output_ff_file = "output_data/fastfood.csv"

# Write DF to a CSV
fastfood_df.to_csv(output_ff_file, sep=';', encoding='utf-8')


# Create Census dataset
# Columns: State, Income, Professional, Unemployment
us_pop = census['TotalPop']
us_state = census['State']
us_income = census['Income']
us_professional = census['Professional']
us_unemployment = census['Unemployment']
dict2 = {'state': us_state, 'income': us_income, 'population': us_pop, 'professional': us_professional, 'unemployment': us_unemployment}
census_df = pd.DataFrame(dict2)

# Output File (CSV)
output_us_file = "output_data/census.csv"

# Write output to the file
census_df.to_csv(output_us_file, sep=';', encoding='utf-8')

In [16]:
# This is required to change state names into abbreviations in order to merge datasets later
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [17]:
fastfood_df.head()

  state            name
0    LA  SONIC Drive In
1    LA  SONIC Drive In
2    TN       Taco Bell
3    TN          Arby's
4    GA  Steak 'n Shake

In [18]:
# Change state abbreviation to state name
census_df = census_df.replace({"state": us_state_abbrev})

In [19]:
census_df.head()

  state   income  population  professional  unemployment
0    AL  67826.0        1845          38.5           4.6
1    AL  41287.0        2172          30.5           3.4
2    AL  46806.0        3385          27.9           4.7
3    AL  55895.0        4267          29.0           6.1
4    AL  68143.0        9965          48.8           2.3

## Questions:
1. most popular FFR by state
2. correlation between white collar jobs and FFR
3. correlation between unemployment rate and FFR
4. correlation between income and FFR

In [20]:
# Clean NaNs from datasets
census_df = census_df.dropna()
fastfood_df = fastfood_df.dropna()

In [21]:
#ffbs_df most popular fastfood in each state. 
ffbs_df = fastfood_df.groupby('state', as_index=False).agg({'name': lambda x: x.value_counts().index[0]})
ffbs_df.columns = ['state', 'most_popular_fastfood']
ffbs_df.head()

  state most_popular_fastfood
0    AK                Subway
1    AL             Taco Bell
2    AR            McDonald's
3    AZ            McDonald's
4    CA            McDonald's

In [22]:
# number of FFRs in each state
ff_qty_df = fastfood_df.groupby('state', as_index=False).count()
ff_qty_df.columns = ['state', 'fastfood_qty']
ff_qty_df.head()

  state  fastfood_qty
0    AK            16
1    AL             6
2    AR           102
3    AZ           330
4    CA          1201

In [23]:
# Average income, number of prefessionals, and unemployed in each state
cen_mean_df = census_df.groupby('state', as_index=False).mean()
cen_mean_df.head()

  state        income   population  professional  unemployment
0    AK  73796.757576  4459.284848     35.360606      8.700606
1    AL  45938.212947  4131.180579     30.788501      8.644549
2    AR  44245.267936  4357.301611     30.750073      7.060322
3    AZ  57815.571807  4500.448048     34.612773      7.580278
4    CA  73070.965821  4879.752576     37.049925      7.856258

In [24]:
# Merging datasets to create final DS ready for plotting.
cen_mpf_df = pd.merge(cen_mean_df, ffbs_df, on='state', how='outer')
df = pd.merge(cen_mpf_df, ff_qty_df, on='state', how='outer')
df = df.dropna()
#df = df.round(2)
decimals = pd.Series([2, 2, 2, 2], index=['income', 'population', 'professional', 'unemployment'])
df = df.round(decimals)
df['fastfood_qty'] = df.fastfood_qty.astype(int)
df

,state,income,population,professional,unemployment,most_popular_fastfood,fastfood_qty
0,AK,73796.76,4459.28,35.36,8.70,Subway,16
1,AL,45938.21,4131.18,30.79,8.64,Taco Bell,6
2,AR,44245.27,4357.30,30.75,7.06,McDonald's,102
3,AZ,57815.57,4500.45,34.61,7.58,McDonald's,330
4,CA,73070.97,4879.75,37.05,7.86,McDonald's,1201
5,CO,69595.70,4391.75,40.24,5.49,Taco Bell,148
6,CT,79622.42,4356.65,41.24,7.81,Subway,53
7,DE,64310.54,4409.96,39.04,6.60,Arby's,44
9,FL,54263.60,4876.60,34.21,7.43,McDonald's,621
10,GA,54650.18,5222.26,34.38,8.19,McDonald's,420
11,HI,79483.41,4564.68,35.77,5.05,McDonald's,32
12,IA,56246.12,3786.69,33.03,4.36,McDonald's,115
13,ID,51426.73,5580.32,33.03,5.62,Subway,51
14,IL,63378.58,4132.36,35.30,8.44,McDonald's,405
15,IN,51832.13,4398.00,30.40,6.89,Arby's,254
16,KS,56795.25,3825.85,35.24,5.18,Taco Bell,74
17,KY,47975.17,4001.03,31.72,7.51,McDonald's,166
18,LA,46857.44,4153.90,31.43,8.02,McDonald's,202
19,MA,78640.15,4654.81,44.02,6.31,McDonald's,205
20,MD,82972.98,4321.76,43.50,6.64,McDonald's,172
21,ME,52807.08,3789.62,35.08,5.74,McDonald's,25
22,MI,54816.72,3624.66,33.08,8.76,McDonald's,374
23,MN,67166.06,4122.39,38.82,4.52,McDonald's,199
24,MO,53083.84,4381.65,33.86,6.42,Taco Bell,163
25,MS,41462.92,4552.25,29.66,9.86,McDonald's,55
26,MT,51216.35,3840.35,36.29,5.03,McDonald's,38
27,NC,53290.88,4640.41,35.20,7.62,McDonald's,295
28,ND,61822.81,3636.46,35.70,2.88,Subway,35
29,NE,59275.21,3572.51,36.31,3.83,Burger King,87
30,NH,73360.29,4561.12,39.53,4.56,McDonald's,34
31,NJ,81198.97,4490.25,39.89,7.41,Burger King,129
32,NM,48941.95,4186.40,35.19,7.85,McDonald's,78
33,NV,58820.62,4259.04,28.08,8.35,McDonald's,121
34,NY,68452.92,4110.06,38.27,7.14,McDonald's,352
35,OH,52998.42,3947.82,33.09,7.89,McDonald's,522
36,OK,50643.09,3738.02,32.35,6.19,McDonald's,166
37,OR,59514.75,4878.94,37.32,6.96,McDonald's,154
38,PA,59459.75,4008.01,36.09,7.04,McDonald's,383
40,RI,63071.82,4400.58,37.42,7.06,Wendy's,15
41,SC,49375.69,4499.92,31.89,7.74,McDonald's,188
42,SD,54839.78,3853.35,35.07,4.24,McDonald's,42
43,TN,50463.94,4474.20,32.20,7.29,McDonald's,302
44,TX,59581.88,5258.65,33.26,6.14,McDonald's,811
45,UT,68448.79,5122.61,37.48,4.48,Arby's,63
46,VA,76476.18,4474.19,41.54,5.82,Arby's,253
47,VT,58240.41,3413.31,39.94,4.40,McDonald's,15
48,WA,69890.55,4968.71,38.63,6.27,McDonald's,196
49,WI,57140.79,4144.23,33.82,5.35,McDonald's,189
50,WV,44055.52,3800.49,31.29,7.67,McDonald's,70
51,WY,60757.90,4451.91,33.46,4.91,Arby's,29