In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import csv
import plotly.plotly as py 
import plotly.graph_objs as go

In [2]:
# Clean dataset, take only necessary columns, create new dataframes and save as csv

# File to Load
fastfood_to_load = "datasets/fast-food-restaurants/Datafiniti_Fast_Food_Restaurants.csv"
census_to_load = "datasets/us-census-demographic-data/acs2017_census_tract_data.csv"

# Read the CSV files
fastfood = pd.read_csv(fastfood_to_load)
census = pd.read_csv(census_to_load)

# Create FastFood dataset
ff_id = fastfood['id']
ff_name = fastfood['name']
ff_state = fastfood['province']
dict1 = {'state': ff_state, 'name': ff_name}  
fastfood_df = pd.DataFrame(dict1) 

# Output File (CSV)
output_ff_file = "output_data/fastfood.csv"

# Write DF to a CSV
fastfood_df.to_csv(output_ff_file, sep=';', encoding='utf-8')


# Create Census dataset
# Columns: State, Income, Professional, Unemployment
us_state = census['State']
us_income = census['Income']
us_professional = census['Professional']
us_unemployment = census['Unemployment']
dict2 = {'state': us_state, 'income': us_income, 'professional': us_professional, 'unemployment': us_unemployment}
census_df = pd.DataFrame(dict2)

# Output File (CSV)
output_us_file = "output_data/census.csv"

# Write output to the file
census_df.to_csv(output_us_file, sep=';', encoding='utf-8')

# Create population dataset
us_pop = census['TotalPop']
dict3 = {'state': us_state, 'population': us_pop}
population_df = pd.DataFrame(dict3)

# Output File (CSV)
output_us_file = "output_data/population.csv"

# Write output to the file
population_df.to_csv(output_us_file, sep=';', encoding='utf-8')

In [3]:
# This is required to change state names into abbreviations in order to merge datasets later
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [4]:
fastfood_df.head()

  state            name
0    LA  SONIC Drive In
1    LA  SONIC Drive In
2    TN       Taco Bell
3    TN          Arby's
4    GA  Steak 'n Shake

In [5]:
# Change state abbreviation to state name in census
census_df = census_df.replace({"state": us_state_abbrev})

In [6]:
census_df.head()

  state   income  professional  unemployment
0    AL  67826.0          38.5           4.6
1    AL  41287.0          30.5           3.4
2    AL  46806.0          27.9           4.7
3    AL  55895.0          29.0           6.1
4    AL  68143.0          48.8           2.3

In [7]:
# Change state abbreviation to state name in population
population_df = population_df.replace({"state": us_state_abbrev})

In [8]:
population_df.head()

  state  population
0    AL        1845
1    AL        2172
2    AL        3385
3    AL        4267
4    AL        9965

## Questions:
1. most popular FFR by state
2. correlation between white collar jobs and FFR
3. correlation between unemployment rate and FFR
4. correlation between income and FFR

In [9]:
# Clean NaNs from datasets
census_df = census_df.dropna()
fastfood_df = fastfood_df.dropna()
population_df = population_df.dropna()

In [10]:
#ffbs_df most popular fastfood in each state. 
ffbs_df = fastfood_df.groupby('state', as_index=False).agg({'name': lambda x: x.value_counts().index[0]})
ffbs_df.columns = ['state', 'most_popular_fastfood']
ffbs_df.head()

  state most_popular_fastfood
0    AK                Subway
1    AL             Taco Bell
2    AR            McDonald's
3    AZ            McDonald's
4    CA            McDonald's

In [11]:
# number of FFRs in each state
ff_qty_df = fastfood_df.groupby('state', as_index=False).count()
ff_qty_df.columns = ['state', 'fastfood_qty']
ff_qty_df.head()

  state  fastfood_qty
0    AK            16
1    AL             6
2    AR           102
3    AZ           330
4    CA          1201

In [12]:

  
# some more libraries to plot graph 
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot, plot 
  
# To establish connection 
init_notebook_mode(connected = True) 
  
  
# type defined is choropleth to 
# plot geographical plots 
data = dict(type = 'choropleth', 
  
            # location: Arizoana, California, Newyork 
            locations = ff_qty_df['state'], 
              
            # States of USA 
            locationmode = 'USA-states', 
              
            # colorscale can be added as per requirement 
            colorscale = 'Reds', 
              
            # text can be given anything you like 
            z = ff_qty_df['fastfood_qty'], 
            colorbar = {'title': 'Number of FFR'}) 
              
layout = dict(geo ={'scope': 'usa'},
             title ='Number of FFR by State') 
  
# passing data dictionary as a list  
choromap = go.Figure(data = [data], layout = layout) 

# plotting graph 
iplot(choromap)

In [13]:
# Average income, number of prefessionals, and unemployed in each state
cen_mean_df = census_df.groupby('state', as_index=False).mean()
cen_mean_df.head()

  state        income  professional  unemployment
0    AK  73796.757576     35.360606      8.700606
1    AL  45938.212947     30.788501      8.644549
2    AR  44245.267936     30.750073      7.060322
3    AZ  57815.571807     34.612773      7.580278
4    CA  73070.965821     37.049925      7.856258

In [15]:

  
# some more libraries to plot graph 
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot, plot 
  
# To establish connection 
init_notebook_mode(connected = True) 
  
  
# type defined is choropleth to 
# plot geographical plots 
data1 = dict(type = 'choropleth', 
  
            # location: Arizoana, California, Newyork 
            locations = ['Manhattan','BK','BX'], 
              
            # States of USA 
            locationmode = 'ISO-3', 
              
            # colorscale can be added as per requirement 
            colorscale = 'Greens', reversescale = True, 
              
            # text can be given anything you like 
            z = [1,2,3], 
            colorbar = {'title': 'Avg income'}) 
              
layout1 = dict(geo ={'scope': 'New York'},
             title ='Avg income by State') 
  
# passing data dictionary as a list  
choromap1 = go.Figure(data = [data1], layout = layout1) 

# plotting graph 
iplot(choromap1)

ValueError:
    Invalid value of type 'builtins.str' received for the 'scope' property of layout.geo
        Received value: 'New York'

    The 'scope' property is an enumeration that may be specified as:
      - One of the following enumeration values:
            ['world', 'usa', 'europe', 'asia', 'africa', 'north
            america', 'south america']

In [ ]:
# Total population in each state
total_pop_df = population_df.groupby('state', as_index=False).sum()
total_pop_df.head()

In [ ]:
# Merging datasets to create final DS ready for plotting.
cen_tot_df = pd.merge(total_pop_df, cen_mean_df, on='state', how='outer')
cen_mpf_df = pd.merge(cen_tot_df, ffbs_df, on='state', how='outer')
df = pd.merge(cen_mpf_df, ff_qty_df, on='state', how='outer')
df = df.dropna()
decimals = pd.Series([2, 2, 2, 2], index=['income', 'population', 'professional', 'unemployment'])
df = df.round(decimals)
df['fastfood_qty'] = df.fastfood_qty.astype(int)
df

In [ ]:
plt.scatter(df['population'], df['fastfood_qty'], marker='^', color='green')
plt.axis([0, 40000000, 0, 1300])
plt.title('Number of FFR and Number of Population', fontsize=20)
plt.xlabel('Number of population', fontsize=18)
plt.ylabel('Number of FFR', fontsize=16)
plt.rcParams['figure.figsize'] = (10,6)
plt.savefig('plots/ffr_population_read.png')

In [ ]:
plt.scatter(df['income'], df['fastfood_qty'], marker='o', color='gold')
plt.title('Number of FFR and Income Level', fontsize=20)
plt.xlabel('Income Level', fontsize=18)
plt.ylabel('Number of FFR', fontsize=16)
plt.rcParams['figure.figsize'] = (10,6)
plt.savefig('plots/ffr_income_read.png')

In [ ]:
plt.scatter(df['professional'], df['fastfood_qty'], marker='+', color='blue')
plt.title('Number of FFR and working professionals (%)', fontsize=20)
plt.xlabel('Working professionsals (%)', fontsize=18)
plt.ylabel('Number of FFR', fontsize=16)
plt.rcParams['figure.figsize'] = (10,6)
plt.savefig('plots/ffr_professional_read.png')

In [ ]:
plt.scatter(df['unemployment'], df['fastfood_qty'], marker='*', color='red')
plt.title('Number of FFR and Unemployment Rate (%)', fontsize=20)
plt.xlabel('Unemployment rate (%)', fontsize=18)
plt.ylabel('Number of FFR', fontsize=16)
plt.rcParams['figure.figsize'] = (10,6)
plt.savefig('plots/ffr_unemployment_read.png')

In [ ]:
# create masked array
fig, (ax1, ax2, ax3, ax4) = plt.subplots(nrows=4)#, )
ax1.scatter(df['population'], df['fastfood_qty'], marker='^', color='green')
ax1.axis([0, 40000000, 0, 1300])

ax2.scatter(df['income'], df['fastfood_qty'], marker='o', color='gold')
ax2.axis([40000, 90000, 0, 1300])

ax3.scatter(df['professional'], df['fastfood_qty'], marker='+', color='blue')
ax3.axis([25, 45, 0, 1300])

ax4.scatter(df['unemployment'], df['fastfood_qty'], marker='*', color='red')
ax4.axis([2, 10, 0, 1300])

fig.tight_layout()
plt.figure(figsize=(20, 20), dpi=48)

plt.show()