In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import csv

In [13]:
# Clean dataset, take only necessary columns, create new dataframes and save as csv

# File to Load
fastfood_to_load = "datasets/fast-food-restaurants/Datafiniti_Fast_Food_Restaurants.csv"
census_to_load = "datasets/us-census-demographic-data/acs2017_census_tract_data.csv"

# Read the CSV files
fastfood = pd.read_csv(fastfood_to_load)
census = pd.read_csv(census_to_load)

# Create FastFood dataset
ff_id = fastfood['id']
ff_name = fastfood['name']
ff_state = fastfood['province']
dict1 = {'state': ff_state, 'name': ff_name}  
fastfood_df = pd.DataFrame(dict1) 

# Output File (CSV)
output_ff_file = "output_data/fastfood.csv"

# Write DF to a CSV
fastfood_df.to_csv(output_ff_file, sep=';', encoding='utf-8')


# Create Census dataset
# Columns: State, Income, Professional, Unemployment
us_id = census['TractId']
us_state = census['State']
us_income = census['Income']
us_professional = census['Professional']
us_unemployment = census['Unemployment']
dict2 = {'state': us_state, 'income': us_income, 'professional': us_professional, 'unemployment': us_unemployment}
census_df = pd.DataFrame(dict2)

# Output File (CSV)
output_us_file = "output_data/census.csv"

# Write output to the file
census_df.to_csv(output_us_file, sep=';', encoding='utf-8')

In [14]:
# This is required to change state names into abbreviations in order to merge datasets later
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [15]:
fastfood_df.head()

  state            name
0    LA  SONIC Drive In
1    LA  SONIC Drive In
2    TN       Taco Bell
3    TN          Arby's
4    GA  Steak 'n Shake

In [16]:
# Change state abbreviation to state name
census_df = census_df.replace({"state": us_state_abbrev})

In [17]:
census_df.head()

  state   income  professional  unemployment
0    AL  67826.0          38.5           4.6
1    AL  41287.0          30.5           3.4
2    AL  46806.0          27.9           4.7
3    AL  55895.0          29.0           6.1
4    AL  68143.0          48.8           2.3

## Questions:
1. most popular FFR by state
2. correlation between white collar jobs and FFR
3. correlation between unemployment rate and FFR
4. correlation between income and FFR

In [26]:
# Clean NaNs from datasets
census_df = census_df.dropna()
fastfood_df = fastfood_df.dropna()

In [27]:
#ffbs_df most popular fastfood in each state. 
ffbs_df = fastfood_df.groupby('state', as_index=False).agg({'name': lambda x: x.value_counts().index[0]})
ffbs_df.columns = ['state', 'most_popular_fastfood']
ffbs_df.head()

  state most_popular_fastfood
0    AK                Subway
1    AL             Taco Bell
2    AR            McDonald's
3    AZ            McDonald's
4    CA            McDonald's

In [28]:
# number of FFRs in each state
ff_qty_df = fastfood_df.groupby('state', as_index=False).count()
ff_qty_df.columns = ['state', 'fastfood_qty']
ff_qty_df.head()

  state  fastfood_qty
0    AK            16
1    AL             6
2    AR           102
3    AZ           330
4    CA          1201

In [29]:
# Average income, number of prefessionals, and unemployed in each state
cen_mean_df = census_df.groupby('state', as_index=False).mean()
cen_mean_df.head()

  state        income  professional  unemployment
0    AK  73796.757576     35.360606      8.700606
1    AL  45938.212947     30.788501      8.644549
2    AR  44245.267936     30.750073      7.060322
3    AZ  57815.571807     34.612773      7.580278
4    CA  73070.965821     37.049925      7.856258

In [32]:
# Merging datasets to create final DS ready for plotting.
cen_mpf_df = pd.merge(cen_mean_df, ffbs_df, on='state', how='outer')
df = pd.merge(cen_mpf_df, ff_qty_df, on='state', how='outer')
df = df.dropna()
df

,state,income,professional,unemployment,most_popular_fastfood,fastfood_qty
0,AK,73796.757576,35.360606,8.700606,Subway,16.0
1,AL,45938.212947,30.788501,8.644549,Taco Bell,6.0
2,AR,44245.267936,30.750073,7.060322,McDonald's,102.0
3,AZ,57815.571807,34.612773,7.580278,McDonald's,330.0
4,CA,73070.965821,37.049925,7.856258,McDonald's,1201.0
5,CO,69595.696429,40.240097,5.487338,Taco Bell,148.0
6,CT,79622.418919,41.235012,7.814496,Subway,53.0
7,DE,64310.537383,39.043925,6.601869,Arby's,44.0
9,FL,54263.602892,34.210458,7.425759,McDonald's,621.0
10,GA,54650.184426,34.375666,8.185143,McDonald's,420.0
11,HI,79483.411576,35.773633,5.052412,McDonald's,32.0
12,IA,56246.124088,33.029319,4.364842,McDonald's,115.0
13,ID,51426.734007,33.032660,5.621212,Subway,51.0
14,IL,63378.575153,35.301320,8.435822,McDonald's,405.0
15,IN,51832.129333,30.403067,6.894333,Arby's,254.0
16,KS,56795.245059,35.237945,5.175099,Taco Bell,74.0
17,KY,47975.172257,31.718586,7.507888,McDonald's,166.0
18,LA,46857.442959,31.426381,8.017291,McDonald's,202.0
19,MA,78640.146492,44.020908,6.314168,McDonald's,205.0
20,MD,82972.981132,43.504644,6.642598,McDonald's,172.0
21,ME,52807.076923,35.081197,5.735328,Burger King,25.0
22,MI,54816.717009,33.078776,8.762573,McDonald's,374.0
23,MN,67166.057851,38.819910,4.523366,McDonald's,199.0
24,MO,53083.841270,33.864141,6.424820,Taco Bell,163.0
25,MS,41462.919084,29.661679,9.861527,McDonald's,55.0
26,MT,51216.347015,36.289179,5.029851,McDonald's,38.0
27,NC,53290.878760,35.204072,7.621194,McDonald's,295.0
28,ND,61822.809756,35.699024,2.875122,Subway,35.0
29,NE,59275.214015,36.314015,3.827841,Burger King,87.0
30,NH,73360.291096,39.527055,4.556164,Taco Bell,34.0
31,NJ,81198.970825,39.891197,7.414738,Burger King,129.0
32,NM,48941.945783,35.193775,7.849799,McDonald's,78.0
33,NV,58820.623894,28.075811,8.348525,McDonald's,121.0
34,NY,68452.919783,38.272676,7.140276,McDonald's,352.0
35,OH,52998.416014,33.089029,7.892300,McDonald's,522.0
36,OK,50643.088462,32.352308,6.188942,McDonald's,166.0
37,OR,59514.751515,37.316485,6.963030,McDonald's,154.0
38,PA,59459.747643,36.086392,7.039189,McDonald's,383.0
40,RI,63071.820833,37.419167,7.060833,Wendy's,15.0
41,SC,49375.685476,31.894912,7.743386,McDonald's,188.0
42,SD,54839.783784,35.067568,4.242793,McDonald's,42.0
43,TN,50463.940857,32.195649,7.287763,McDonald's,302.0
44,TX,59581.880962,33.255019,6.142769,McDonald's,811.0
45,UT,68448.787671,37.477055,4.476199,Arby's,63.0
46,VA,76476.181085,41.539011,5.816550,Arby's,253.0
47,VT,58240.409836,39.943169,4.399454,McDonald's,15.0
48,WA,69890.553398,38.625381,6.265811,McDonald's,196.0
49,WI,57140.791367,33.821727,5.353094,McDonald's,189.0
50,WV,44055.517598,31.288613,7.670393,McDonald's,70.0
51,WY,60757.900763,33.457252,4.914504,McDonald's,29.0