In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import csv

In [13]:
# Clean dataset, take only necessary columns, create new dataframes and save as csv

# File to Load
fastfood_to_load = "datasets/fast-food-restaurants/Datafiniti_Fast_Food_Restaurants.csv"
census_to_load = "datasets/us-census-demographic-data/acs2017_census_tract_data.csv"

# Read the CSV files
fastfood = pd.read_csv(fastfood_to_load)
census = pd.read_csv(census_to_load)

# Create FastFood dataset
ff_id = fastfood['id']
ff_name = fastfood['name']
ff_state = fastfood['province']
dict1 = {'state': ff_state, 'name': ff_name}  
fastfood_df = pd.DataFrame(dict1) 

# Output File (CSV)
output_ff_file = "output_data/fastfood.csv"

# Write DF to a CSV
fastfood_df.to_csv(output_ff_file, sep=';', encoding='utf-8')


# Create Census dataset
#Columns: State, Income, Professional, Unemployment
us_id = census['TractId']
us_state = census['State']
us_income = census['Income']
us_professional = census['Professional']
us_unemployment = census['Unemployment']
dict2 = {'state': us_state, 'income': us_income, 'professional': us_professional, 'unemployment': us_unemployment}
census_df = pd.DataFrame(dict2)

# Output File (CSV)
output_us_file = "output_data/census.csv"

# Write output to the file
census_df.to_csv(output_us_file, sep=';', encoding='utf-8')

In [14]:
fastfood_df.head()

  state            name
0    LA  SONIC Drive In
1    LA  SONIC Drive In
2    TN       Taco Bell
3    TN          Arby's
4    GA  Steak 'n Shake

In [15]:
census_df.head()

     state   income  professional  unemployment
0  Alabama  67826.0          38.5           4.6
1  Alabama  41287.0          30.5           3.4
2  Alabama  46806.0          27.9           4.7
3  Alabama  55895.0          29.0           6.1
4  Alabama  68143.0          48.8           2.3

## Questions:
1. most popular FFR by state
2. correlation between white collar jobs and FFR
3. correlation between unemployment rate and FFR
4. correlation between income and FFR

In [16]:
#ffbs_df most popular fastfood in each state. 
ffbs_df = fastfood_df.groupby('state', as_index=False).agg({'name': lambda x: x.value_counts().index[0]})

In [17]:
ffbs_df.head()

  state        name
0    AK      Subway
1    AL   Taco Bell
2    AR  McDonald's
3    AZ  McDonald's
4    CA  McDonald's

In [18]:
census_df.groupby('state', as_index=False).mean()

                   state        income  professional  unemployment
0                Alabama  45938.212947     30.782298      8.651574
1                 Alaska  73796.757576     35.335542      8.648795
2                Arizona  57815.571807     34.574455      7.598416
3               Arkansas  44245.267936     30.726131      7.039708
4             California  73070.965821     37.051064      7.874869
5               Colorado  69595.696429     40.284559      5.490137
6            Connecticut  79622.418919     41.552842      7.749819
7               Delaware  64310.537383     39.043925      6.601869
8   District of Columbia  82936.299435     56.355866      9.784916
9                Florida  54263.602892     34.220504      7.442737
10               Georgia  54650.184426     34.370097      8.180952
11                Hawaii  79483.411576     36.033758      5.004140
12                 Idaho  51328.265101     33.032660      5.621212
13              Illinois  63378.575153     35.316758      8.486970
14               Indiana  51832.129333     30.382603      6.903254
15                  Iowa  56246.124088     33.039368      4.379101
16                Kansas  56795.245059     35.237945      5.175099
17              Kentucky  47975.172257     31.773736      7.608394
18             Louisiana  46857.442959     31.456306      7.988810
19                 Maine  52807.076923     35.081197      5.735328
20              Maryland  82972.981132     43.630975      6.642816
21         Massachusetts  78640.146492     43.847814      6.365847
22              Michigan  54816.717009     32.978340      8.792282
23             Minnesota  67166.057851     38.818468      4.526952
24           Mississippi  41462.919084     29.617656      9.856925
25              Missouri  53083.841270     33.878690      6.452196
26               Montana  51216.347015     36.203717      5.011152
27              Nebraska  59275.214015     36.297164      3.859168
28                Nevada  58820.623894     28.075811      8.348525
29         New Hampshire  73360.291096     39.527055      4.556164
30            New Jersey  81198.970825     39.940572      7.415898
31            New Mexico  48941.945783     35.193775      7.849799
32              New York  68452.919783     38.264190      7.146873
33        North Carolina  53290.878760     35.186790      7.610531
34          North Dakota  61822.809756     35.699024      2.875122
35                  Ohio  52998.416014     33.091491      7.893533
36              Oklahoma  50643.088462     32.257225      6.283062
37                Oregon  59514.751515     37.316485      6.963030
38          Pennsylvania  59459.747643     36.108789      7.044292
39           Puerto Rico  21206.667429     30.221445     19.011964
40          Rhode Island  63071.820833     37.419167      7.060833
41        South Carolina  49375.685476     31.776400      7.757117
42          South Dakota  54839.783784     35.067568      4.242793
43             Tennessee  50463.940857     32.151827      7.320365
44                 Texas  59581.880962     33.267094      6.166750
45                  Utah  68448.787671     37.477055      4.476199
46               Vermont  58240.409836     39.943169      4.399454
47              Virginia  76476.181085     41.513173      5.821920
48            Washington  69890.553398     38.660942      6.295637
49         West Virginia  44055.517598     31.271281      7.716322
50             Wisconsin  57140.791367     33.815744      5.353559
51               Wyoming  60757.900763     33.457252      4.914504